<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Contact</title>
</head>

<body class="vh-100 gradient-custom">
<style>
    .gradient-custom {
        background: #1177cb;
        background: -webkit-linear-gradient(to right, rgba(17, 119, 203, 1), rgb(189, 219, 231));
        background: linear-gradient(to right, rgba(17, 119, 203, 1), rgb(189, 219, 231))
    }
</style>
<div th:insert="~{logo}"></div>
<form th:action="@{/contact-me}" th:object="${contactForm}" method="post">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Contact me</h2>
                            <br><br>

                            <div class="form-outline form-white mb-4">
                                <label>Name</label>
                                <input type="name" th:field="*{name}" class="form-control form-control-lg" required/>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label>Email</label>
                                <input type="email" th:field="*{email}" class="form-control form-control-lg"
                                       placeholder="example@email.com" required/>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label>Description</label>
                                <input type="text" th:field="*{description}" class="form-control form-control-lg"required/>

                            </div>

                            <button class="btn btn-outline-secondary btn-lg px-5" type="submit">Send</button>
                            <p th:if="${error}" style="color: red;">Incorrect credentials. Please try again.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>