<div th:fragment="navbar">
    <style>
        .navbar {
            padding: 0;
            background: #1177cb;
            background: -webkit-linear-gradient(to right, rgba(17, 119, 203, 1), rgb(189, 219, 231));
            background: linear-gradient(to right, rgba(17, 119, 203, 1), rgb(189, 219, 231))
        }
    </style>
    <nav class="navbar">
            <div th:insert="~{logo}"></div>
        <a type="button" th:href="@{/logout}" class="btn btn-outline-primary ms-1 me-4">Logout</a>
    </nav>
</div>
